# Modules get a copy of build.gradle as they are not allowed to have their own (for build security / sandboxing)
build.gradle

# IntelliJ
*.iml

# Eclipse
.checkstyle
.classpath
.project
.settings
bin/
build/
# TODO, the test log file should not end up within the source directory, ignore so it does not get committed.
/src/test/resources/logback-test.xml

